{{>layout/header}}
<meta name="_csrf" content="{{_csrf.token}}"/>
<meta name="_csrf_header" content="{{_csrf.headerName}}"/>

<h3>게시글 확인</h3>
<br>
<h3>게시글 번호 : # {{bid}}</h3>
<br>
<h5>게시글 제목 : {{title}}</h5>
<br>
<h5>작 성 자 : {{writer}}</h5>
<br>
<h5>게시글 내용 : {{content}}</h5>
<br>
<button type="button" class="btn btn-primary" id="btn-delete">삭제</button>
<button type="button" class="btn btn-primary" id="btn-modify">수정</button>
<input type="hidden" id="boardId" value="{{bid}}"/>
<input type="hidden" id="writer" value="{{writer}}"/>
<input type="hidden" id="nowId" value="{{nowId}}"/>
<hr>
<h5>=======댓글=======</h5>
<table class="table table-horizontal table-bordered">
    <thead class="thead-strong">
    <tr>
        <th>댓글 작성자</th>
        <th>댓글</th>
        <th>댓글 작성 시간</th>
        <th>댓글 수정 시간</th>
        <th>삭제</th>
        <th>수정</th>
    </tr>
    </thead>
    <tbody>
    {{#comments}}
        <tr>
            <th>{{commentWriter}}</th>
            <th><p id="comm_{{id}}">{{comment}}</p></th>
            <th>{{commRegTime}}</th>
            <th>{{commModTime}}</th>
            <th><button type="button" class="btn btn-danger btn-comment-delete">삭제</button></th>
            <th><button type="button" class="btn btn-secondary btn-comment-modify">수정</button></th>
            <input type="hidden" class="commentWriter" value="{{commentWriter}}">
            <input type="hidden" class="commentId" value="{{id}}">
        </tr>
    {{/comments}}
    </tbody>
</table>
<h5>=======댓글작성하기=======</h5>
<table class="table table-horizontal table-bordered">
    <thead class="thead-strong">
    <tr>
        <th>댓글 작성자</th>
        <th>댓글</th>
        <th>등록</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th><input type="text" id="nowUser" value="{{nowUser}}" readonly></th>
        <th><input type="text" id="comment" placeholder="댓글을 작성하세요"></th>
        <th><button type="button" class="btn btn-primary" id="btn-comment-write">댓글 등록</button></th>
    </tr>
    </tbody>
</table>
{{>layout/footer}}
