{{>layout/header}}

    <h1>Spring Boot Board</h1>

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <h3>==테이블 글 등록 하기==</h3>
                <br>
                <a role="button" href="/board/write">WRITE</a>
            </div>
        </div>
        <br>
        <table class="table table-horizontal table-bordered">
            <thead class="thead-strong">
            <tr>
                <th>#NO</th>
                <th>Title</th>
                <th>Writer</th>
                <th>Write Date</th>
                <th>Modify Date</th>
            </tr>
            </thead>
            <tbody>
            {{#boardList}}
                <tr>
                    <th><a href="/board/{{boardId}}" style="text-decoration : none;">{{boardId}}</a></th>
                    <th>{{title}}</th>
                    <th>{{writer}}</th>
                    <th>{{regTime}}</th>
                    <th>{{modTime}}</th>
                </tr>
            {{/boardList}}
            </tbody>
        </table>
    </div>

{{>layout/footer}}