{{>layout/header}}

    <h1>Spring Boot Board</h1>

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <h3>==테이블 글 등록 하기==</h3>
                <br>
                <a role="button" href="/board/write">WRITE</a>
            </div>
        </div>
        <br>
        <table class="table table-horizontal table-bordered">
            <thead class="thead-strong">
            <tr>
                <th>#NO</th>
                <th>Title</th>
                <th>Writer</th>
                <th>Write Date</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>#1</th>
                <th>test</th>
                <th>tester</th>
                <th>2024-01-12</th>
            </tr>
            </tbody>
        </table>
    </div>

{{>layout/footer}}