<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="/joinProc" method="post" name="joinForm">
    <div><input id="username" type="text" name="username" placeholder="id"/></div>
    <div><input id="password" type="password" name="password" placeholder="password"/></div>
    <div><input id="apikey" type="text" name="apikey" placeholder="apikey"/></div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    <input type="submit" value="join"/>
</form>

</body>
</html>